
/* Type: dialog

   Name: 101.  */
LANGUAGE 0, 0

101 DIALOGEX MOVEABLE PURE DISCARDABLE 0, 0, 356, 123
STYLE 0x80c800c0
FONT 8, "TAHOMA", 0, 0, 0
BEGIN
  CONTROL "", 1000, 130, 0x50800046, 5, 10, 126, 52
END
